<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zadanie2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ObliczeniaActivity"></activity>
        <activity android:name=".ActivityForResults" />
        <activity android:name=".ReadAndWrite" />
        <activity android:name=".Message" />
        <activity android:name=".Bohaterowie" />
        <activity android:name=".Kontrolki" />
        <activity
            android:name=".CarActivity"
            android:parentActivityName=".CarCategoryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CarCategoryActivity"
            android:label="@string/title_activity_car_category" />
    </application>

</manifest>